#---------- BLOQUES BASES --------------

x-orchestrator-base: &orchestrator-base
  build: .                          
  image: orquestador
  networks:
    - orchestrator_network
  environment:
      - HOST_DOWNLOADS_PATH=${HOST_DOWNLOADS_PATH}
      - HOST_CODIGO_PATH=${HOST_CODIGO_PATH}
  env_file:
    - ${HOST_CREDENCIALES_PATH} 
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - "${HOST_DOWNLOADS_PATH}:/app/Downloads"
  restart: "no"

x-orchestrator-dev: &orchestrator-dev
  <<: *orchestrator-base
  env_file:
    - ${HOST_CREDENCIALES_PATH_PRUEBA}
#---------------------------------------

services:

  it_orchestrator:                  
    <<: *orchestrator-base
    container_name: it_orchestrador
    profiles: ["it"]
    volumes:
      - mapfre_codigo:/codigo_mapfre
      - rutas_sync:/app/sync
      - /var/run/docker.sock:/var/run/docker.sock
      - "${HOST_CREDENCIALES_PATH}:/app/variables.env"
      - ./Codigo:/app/Codigo
    command: python3 Codigo/Ejecutivos/it.py

  webhook_n8n:
    <<: *orchestrator-base
    container_name: webhook
    profiles: ["webhook"]
    volumes:
      - mapfre_codigo:/codigo_mapfre
      - rutas_sync:/app/sync
      - /var/run/docker.sock:/var/run/docker.sock
      - "${HOST_CREDENCIALES_PATH_PRUEBA}:/app/variables.env"
      - ./Codigo:/app/Codigo
    command: python3 Codigo/Webhook/webhook.py

  ariadne_orchestrator:
    <<: *orchestrator-base
    container_name: ariadne_orchestrador
    profiles: ["ariadne"]
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "${HOST_CREDENCIALES_PATH}:/app/variables.env"
      - ./Codigo:/app/Codigo
    command: python3 Ejecutivos/ariadne.py

  jishu_orchestrator:
    <<: *orchestrator-base
    container_name: jishu_orchestrador
    profiles: ["jishu"]
    volumes:
      - rimac_SAS:/codigo_rimac_SAS
      - /var/run/docker.sock:/var/run/docker.sock
      - "${HOST_CREDENCIALES_PATH}:/app/variables.env" 
      - ./Codigo:/app/Codigo
    command: python3 Codigo/Ejecutivos/jishu.py

  prueba_it_orchestrator:
    <<: *orchestrator-dev
    container_name: prueba_it_orchestrador
    profiles: ["prueba"]
    volumes:
      - ./Codigo:/app/Codigo
      - mapfre_codigo:/codigo_mapfre
      - pacifico_codigo:/codigo
      - rimac_Web:/codigo_rimac_Web
      - rutas_sync:/app/sync
      - /var/run/docker.sock:/var/run/docker.sock
      - "${HOST_CREDENCIALES_PATH_PRUEBA}:/app/variables.env"
    command: python3 Codigo/Ejecutivos/it.py

# Podemos declarar infinito volumens, pero solo se crea el que se use en algun servicio, si no se usa, no se crea, aunque este declarado
volumes:
  mapfre_codigo:
    name: mapfre_codigo
  rutas_sync:                   
    name: rutas_sync          
  pacifico_codigo:              
    name: pacifico_codigo
  rimac_Web:                    
    name: rimac_Web
  rimac_SAS:                    
    name: rimac_SAS

# external:True (indicado que ya existe) o sino (docker volume create "nombre")
networks:
  orchestrator_network:         
    name: orchestrator_network
    external: true
    
# Comandos : 
# docker compose up -d --build --> Crea y levanta los servicios del docker-compose.yml,reconstruyendo las imagenes si hay cambios en el Dockerfile, requeriments(Dependencias) o en el contexto de build.
# docker-compose down          --> Apaga y elimina todo lo que fue creado por ese docker-compose.yml (Preferible si hay cambios en variables de entorno)
# docker-compose up -d         --> Crea y levanta los servicios definidos en el docker-compose.yml
# docker-compose restart